In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [230]:
data2 = pd.read_csv('ICPSR_23782/data2', delimiter="\t")

In [236]:
data_filtered = data2[["State", "Deaths", "Population", "Five-Year Age Groups"]]
data_filtered.head()

         State  Deaths Population Five-Year Age Groups
0  Connecticut  4528.0     817345             < 1 year
1  Connecticut   585.0    3428814            1-4 years
2  Connecticut   454.0    4642580            5-9 years
3  Connecticut   541.0    4993549          10-14 years
4  Connecticut   151.0    5119580          15-19 years

In [241]:
data_filtered["Five-Year Age Groups"].unique()

array(['< 1 year', '1-4 years', '5-9 years', '10-14 years', '15-19 years',
       '20-24 years', '25-29 years', '30-34 years', '35-39 years',
       '40-44 years', '45-49 years', '50-54 years', '55-59 years',
       '60-64 years ', '65-69 years', '70-74 years', '75-79 years',
       '80-84 years', '85-89 years', '90-94 years', '95-99 years',
       '100+ years', 'Not Stated', nan], dtype=object)

In [242]:
data_filtered["State"].unique()

array(['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire',
       'Rhode Island', 'Vermont', 'New Jersey', 'New York',
       'Pennsylvania', 'Illinois', 'Indiana', 'Michigan', 'Ohio',
       'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska',
       'North Dakota', 'South Dakota', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Maryland', 'North Carolina',
       'South Carolina', 'Virginia', 'West Virginia', 'Alabama',
       'Kentucky', 'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana',
       'Oklahoma', 'Texas', 'Arizona', 'Colorado', 'Idaho', 'Montana',
       'Nevada', 'New Mexico', 'Utah', 'Wyoming', 'Alaska', 'California',
       'Hawaii', 'Oregon', 'Washington', nan], dtype=object)

## USED PAIN KILLERS NONMEDICALLY